@media (width>=1440px){
    header{
        background-image: url(assets/header2.png);
    }
    .see2{
        display: block;
        margin-top: 188px;
        margin-right: 162px;
    }
    .brgr{
        display: none;
    }
    .lp{
        margin: 64px 0 0 165px;
    }
    .see{
        display: none;
    }
    .bro{
        display: flex;
    }
    .textbox{
        width: 650px;
        height: 278px;
        margin: 226px 625px 146px 165px;
    }
    h3{
        width: 570px;
        height: 198px;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 72px;
        font-style: normal;
        font-weight: 300;
        line-height: 70px; /* 97.222% */
        text-transform: uppercase;
    }
    .founded{
        width: 445px;
        height: 100px;
        margin-left: 96px;
        text-align: start;
    }
    .vr{
        display: none;
    }
    .vrdesk{
        display: block;
        margin-top: 160px;
        margin-left: 165px;
    }
    .textebi{
        width: 541px;
        height: 317px;
        background-color: white;
        position: absolute;
        margin-top: 343px;
        margin-left: 734px;
    }
    .baro{
        display: flex;
        position: relative;
    }
    .lead{
        width: 445px;
        color: #000;
        font-family: Josefin Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 48px; /* 100% */
        text-transform: uppercase;
        margin: 96px 0 25px 96px;
        text-align: start;
    }
    .info{
        display: flex;
        column-gap: 32px;
        margin-left: 586px;
        margin-top: 68px;
    }
    .our{
        margin: 184px 590px 80px 165px;
        color: #000;
        font-family: Josefin Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 48px; /* 100% */
        text-transform: uppercase;
        width: 500px;
    }
    .dighomi{
        display: flex;
    }
    .aboutt,.careerss,.eventss,.productss,.supportt{
        color: #FFF;
        font-family: Alata;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 166.667% */
    }
    .firstt{
        display: none;
    }
    .secondd{
        display: block;
    }
    .seconddd{
        display: block;
    }
    .seconddd:hover{
        opacity: 0.6;
        transition: 1.5s;
    }
    .lp2{
        margin: 44px 822px 24px 165px;
    }
    .lolando{
        display: flex;
    }
    .zemot{
        display: none;
    }
    .zemot2{
        display: block;
    }
    .social{
        display: none;
    }
    .social2{
        display: block;
    }
    .leomessi{
        display: flex;
    }
    footer{
        height: 160px;
    }
    .about{
        color: #FFF;
        font-family: Alata;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 166.667% */
        margin-left: 166px;
        margin-bottom: 43px;
    }
    .careers{
        color: #FFF;
        font-family: Alata;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 166.667% */
        margin-left: 32px;
        margin-bottom: 43px;
    }
    .about:hover,.careers:hover,.events:hover,.products:hover,.support:hover{
        border-bottom: #FFF;
    }
    .fotoebi{
        display: grid;
        grid-template-columns: 256px 256px 256px 256px;
        padding-bottom: 184px;
        row-gap: 30px;
        padding-left: 165px;
        margin: 0;
        column-gap: 30px;
    }
    .hambrgr{
        display: none;
        cursor: pointer;
    }
    .first,.second,.third,.fourth,.fifth,.sixth,.seventh,.eighth{
        width: 254px;
    }
    .events{
        color: #FFF;
        font-family: Alata;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 100% */
        margin-left: 32px;
        margin-bottom: 43px;
    }
    .products{
        color: #FFF;
        font-family: Alata;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 100% */
        margin-left: 32px;
        margin-bottom: 43px;
    }
    
    .support{
        color: #FFF;
        font-family: Alata;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 100% */
        margin-left: 32px;
        margin-bottom: 43px;
        margin-right: 458px;
    }
    .deepearth{
        position: absolute;
        bottom: 32px;
        left: 40px;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 106px;
    }
    .nightarcade{
        position: absolute;
        bottom: 32px;
        left: 40px;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 132px;
    }
    .steamvr{
        position: absolute;
        bottom: 32px;
        left: 40px;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 144px;
        text-shadow: #000;
    }
    .tgrid{
        position: absolute;
        bottom: 32px;
        left: 40px;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 77px;
    }
    .fupabove{
        position: absolute;
        bottom: 32px;
        left: 40px;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 164px;
    }
    .pborealis{
        position: absolute;
        bottom: 32px;
        left: 40px;;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 157px;
    }
    .tcuriosity{
        position: absolute;
        bottom: 32px;
        left: 40px;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 169px;
    }
    .fisheye{
        position: absolute;
        bottom: 32px;
        left: 40px;
        color: #FFF;
        font-family: Josefin Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 132px;
    }
}